<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <div class="row">
    <h1>Participação pública</h1>
  </div>

  <div class="row">
    <h2>Formação técnica</h2>
  </div>

  <div class="row">
    <p>Realização de ações de Formação e Workshops na área de reabilitação fluvial
      (formação técnica teórico-prática). As formações, oficinas ou <i>workshops</i> são
      modulares para colmatar as necessidades.</p>
  </div>
  <div class="row">
    <p>Destacam-se:</p>
    <ul>
      <li>As limpezas de linhas de água (cheias);</li>
      <li>Técnicas de plantação de vegetação ribeirinha (erosão);</li>
      <li>Técnicas de Engenharia Natural;</li>
      <li>Projeto de Reabilitação Fluvial;</li>
      <li>"Cluster dos Rios” - Empreendedorismo fluvial;</li>
      <li>Implementação de Reservas estratégias fluviais;</li>
      <li>Formações específicas.</li>
    </ul>
  </div>
  <div class="row">
    <h2>Descrição</h2>
    <p>A participação pública consiste no envolvimento ativo de autarquias, empresas,
      associações, escolas, população local e parceiros com diferentes interesses, nos
      processos de decisão de restauro e recuperação fluvial. É importante para a governança
      e fortalecimento das comunidades locais em torno da linha de água.</p>
  </div>

  <div class="row">
    <h2>A Participação Pública tem como objetivos:</h2>
    <ul>
      <li>Estabelecer condições para a concretização de projetos para o desenvolvimento socioeconómico
        local e fundamental para a sustentabilidade dos recursos naturais;</li>
      <li>Facilitar a comunicação entre técnicos e população em geral para a implementação da Diretiva
        Quadro da Água em projetos de reabilitação de rios e ribeiras;</li>
      <li>Informar e educar as partes interessadas acerca das intervenções planeadas e suas consequências.</li>
      <li>Reunir informação junto das diferentes partes interessadas no sentido da melhor proposta possível
        de intervenção fluvial;</li>
      <li>Sensibilizar para a manutenção e proteção dos corredores fluviais.</li>
      <li>Recolha de informação pública</li>
      <li>Obtenção de reações às propostas apresentadas</li>
      <li>Consulta pública sobre os projetos e intensões de intervenção</li>
      <li>Envolvimento extensivo nos processos de recuperação e restauro fluvial</li>
      <li>Planeamento conjunto das estratégias e soluções a implementar.</li>
    </ul>
  </div>
  <div class="row">
    <h2>Requisitos Técnicos:</h2>
    <ul>
      <li>Conhecimentos do projeto em questão;</li>
      <li>Capacidade de mediação e argumentação;</li>
      <li>Capacidade de comunicação clara e objetiva do projeto em análise;</li>
      <li>Capacidade para validar as informações obtidas.</li>
    </ul>
  </div>
  <div class="row">
    <h2>Experiências de Participação Pública:</h2>
    <ul>
      <li>Realização de sessões públicas no âmbito da empreitada de reabilitação do Rio Arunca no Município de Pombal;</li>
      <li>Palestras de sensibilização;</li>
      <li>Caminhadas</li>
    </ul>
  </div>

</div>

<%= render 'common/footer' %>