<%= render 'common/header' %>

<%= stylesheet_link_tag "searchrios" %>

</head>

<body>

  <%= render 'common/navbar' %>

  <div class="container">
    <h1>Pesquisa de rios</h1>
    <div class="">
      <form id="searchform" class="remove-side-paddings form-inline" role="search">
        <div class="form-group">
          <input id="pesquisa-rios-input" type="text" class="form-control" placeholder="Texto a pesquisar..." required>
        </div>

        <div class="form-group">
            <select id="campo-pesquisa" class="form-control" required>
              <option disabled selected> Campo a pesquisar... </option>
              <option value="1">Designação</option>
              <option value="2">Cód. Rio</option>
              <option value="3">Bacia</option>
            </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Pesquisar</button>
        </div>
      </form>
    </div>

    <h3>Resultados</h3>
    <table id="resultados-pesquisa-rios" class="table table-hover table-striped">
      <tr>
        <th>Cód. Rio</th>
        <th>Designação</th>
        <th>Tipo</th>
        <th>Bacia</th>
        <th style="width: 100px"></th>
      </tr>
    </table>

    <% #= render 'mapa/mapa' %>

    <div id="rio-info">
      <div id="rio-nome"><h4></h4></div>
      <div id="rio-codigo"><h4></h4></div>
      <div id="rio-bacia"><h4></h4></div>
      <div id="rio-tipo"><h4></h4></div>
      <div id="rio-irr-avg"><h4></h4></div>
    </div>
  </div>

  <%= render 'common/footer' %>