<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1> Limpeza de Rios+</h1>




</div>


<%= render 'common/footer' %>
