<footer>
  <div id="footer-content">
    <%= link_to 'Documentos ', documentos_path %>
    <span></span>
    <%= link_to 'Contactos', contactos_path %>
  </div>
</footer>

</body>
</html>

<%= javascript_include_tag "application" %>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>

