<footer>
  <div id="footer-content">
    <%= link_to 'Documentos ', documentos_path %>
    <span></span>
    <%= link_to 'Contactos', contactos_path %>
  </div>
</footer>

</body>
</html>

<%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
<%= javascript_include_tag "concelho" %>


