
<center id="footer-about">
	<%= link_to 'Contactos', contactos_path %>
</center>
</body>
</html>

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
