<!DOCTYPE html>
<html>
<head>
	<title> Rios+ </title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<%= stylesheet_link_tag "navbar" %>

	<link rel="shortcut icon" href="">

	<%= csrf_meta_tags %>