<%= render 'common/header' %>
</head>
<body>

<%= render 'common/navbar' %>
<div class="container">

  <h1> Não tem permissões para aceder a esta página...</h1>

  <%= link_to 'Voltar atrás', :back %>
</div>

<%= render 'common/footer' %>