<p> Olá  <%= @resource.email %>!</p>

<p>Alguém fez um pedido de mudançã de password. Pode fazê-lo através do link seguinte: .</p>

<p><%= link_to 'Mudar password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Se não fez este pedido por favor ignore este email .</p>
<p> A password não mudará a menos que o link seja utilizado.</p>
