<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

<h2> Estratégia Reabilitação em Portugal </h2>

<p> Os rios são corredores naturais de grande importância hidrológica, ecológica e paisagista que

integram e estabelecem ecossistemas complexos. Os rios são a principal fonte de recursos

hídricos, mas podem ser, também, fonte de outros bens e serviços, contribuir para criar

espaços de recreio e desfrute da natureza pela população local, para além de fonte de

rendimentos. </p>

<p> As utilizações humanas com necessidade de água e espaço têm levado à modificação da

paisagem, à destruição irreversível de ecossistemas e importantes recursos naturais sob o

ponto de vista económico, social e ambiental. As zonas ripícolas, formadas pela vegetação nas

margens ribeirinhas, são consideradas como um dos habitats biofísicos mais complexos do

planeta, quer pela sua biodiversidade, dinamismo e produtividade primária, quer pela sua

importante função de corredor ecológico, exercida pela interligação do leito e das margens do

rio com a vegetação. </p>

<p> Qualquer planeamento exige uma metodologia de ação que permita desenvolver atividades

para melhorar a eficácia e eficiência da intervenção. </p>

<p> Uma metodologia pode poupar recursos e melhorar a eficiência, efetuar a prevenção de

acidentes e desenvolver processos transparentes e participados. </p>

<p> Apresenta-se uma metodologia geral padronizada de restauro ou reabilitação de rios e ribeiras

em etapas que minimiza lacunas na recolha de dados, na estruturação e organização para

decisões. Possibilita de igual forma elaborar bases de dados padronizadas para a investigação,

com possibilidade de comparação de resultados, expansão de atuação e análises de resoluções

de problemas comuns, quer nacionais quer internacionais.</p>

<p> A planificação da intervenção deve estar, preferencialmente, integrada numa estratégia geral,

como forma de minimizar os impactes urbanos, reabilitar os ecossistemas fluviais, associada às

características da sociedade que com eles interage. </p>

<p> Os princípios orientadores da metodologia de ação seguem etapas sequenciais para

permitirem uma melhoria contínua de atuação, contribuindo para a sustentabilidade.

Pretendem contribuir para a concretização local de atividades que conciliem e integrem os

valores económicos, ambientais e sociais.</p>

<p> Os principais objetivos desta metodologia são: promover o conhecimento, valorização e

melhoria do sistema fluvial; contribuir para a integração dos processos de reabilitação, de

modo a cumprir a legislação e princípios de reabilitação; promover a formação disseminação

de boas práticas em técnicas de melhoria do sistema fluvial; fornecer ferramentas de

acompanhamento e avaliação de intervenções fluviais; promover o envolvimento e

Participação Pública; facilitar a troca de experiências, investigação e divulgação de boas

práticas de reabilitação fluvial. </p>

<p> Esta metodologia deve ser aplicada por: Técnicos autárquicos, projetistas, decisores,

especialistas em intervenções fluviais, interventores, proprietários do domínio hídrico,

associações e pessoas interessadas em processos e projetos de reabilitação fluvial.</p>

<h2> A importância Estratégia municipal </h2>

<p> Uma metodologia geral de reabilitação de rios e ribeiras padronizada permite a

realização sequencial de etapas, que minimize lacunas de recolha de dados, estruturação,

organização e decisões intermédias fundamentais. Assim, também possibilita elaborar bases

de dados padronizadas para a investigação, comparação de resultados, replicar modos de

atuação e análises de resoluções de problemas.</p>

<p> É importante que as intervenções no sistema ribeirinho estejam integradas numa

estratégia global a nível de bacia hidrográfica e municipal. A definição da estratégia passa pelo

diagnóstico e caracterização, com a priorização dos problemas e mais-valias para a definição

de objetivos e metas a atingir. Neste contexto são elaborados diretrizes e soluções para

inspirar projetos integrados e consequente melhoria fluvial. Estes projetos de melhoria devem

ser implementados com monitorização e complementados com um programa de verificação e

avaliação que permita o real acompanhamento do processo e implementação de medidas

mitigadoras, corretoras e de manutenção. O processo deve ser de melhoria continua onde se

envolvam todas as partes interessadas (stakeholders) com programas específicos de

participação pública e se promovam as parcerias, deve respeitar a legislação, realizar a

avaliação de custo/benefício das soluções alternativas, respeitando cronogramas espaciais e

temporais de atuação. Este processo deve ser complementado com formações específicas,

atividades que acautelem os planos de emergência face a potenciais acidentes e se respeitem

os princípios de reabilitação (Teiga, 2011).</p>

  <div class="row">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('reabilitacoes/esquema_da_metodologia_geral_de_reabilitacao_fluvial.png',
                                      :class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>


</div>

