
footer a:hover {
	text-decoration: none;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 30px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#footer-content{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-div{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.separate{
    margin-bottom: 70px;
}

.remove-side-paddings {
    padding-left: 0px;
    padding-right: 0px;
}

.table > tbody > tr > td{
    vertical-align: middle;
}