
.navigationbar {
	background-color: rgb(33,150,243);
	border: 0px;
	border-radius: 0 !important;
}

#navbar a {
	color: white;
}

.custom-btn{
	background-color: transparent;
	color: white;
	border: 0;
}

#dropdown-ul a {
	color: black;
}

.dropdown-container{
	padding: 15px;
}