// Place all the styles related to the Rio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form_irr-imgs{
  padding: 15px;

  h3{
    margin: 0;
  }
}

#profile-rio-map{
  height: 500px;
}

#map-wrapper {
  position: relative;
}

#over-map-container {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 99;
}


