// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.route-points-map{
  height: 500px;

}

#route-points-sortable li{
  list-style-type: none;
}

#route-points-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#route-points-sortable li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  height: 2em;
}

html>body #route-points-sortable li {
  height: 2.5em;
  line-height: 1.2em;
}

.ui-state-highlight {
  height: 2em;
  line-height: 1.2em;
}

//CARDS

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

// END CARDS

.routes-index-item {
  //height: 200px;
}

.routes-index-item .descricao{
  display: none;
  height: 50px;
}
.card-image{
  height: 290px;
}

.card-image .img-responsive {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}