<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <div class="row">
    <h1>SOS Rios+</h1>
  </div>

  <div class="row">
    <p>O SOS rios pretende juntar a população para junto dos rios e trabalhar em conjunto com os
      municípios para monitorizar e cuidar dos espaços fluviais.</p>
  </div>
  <div class="row">
    <p>Agora qualquer pessoa com a aplicação Rios+ terá a oportunidade de reportar as autoridades
      máximas do município as más práticas e crimes que ocorrem nos rios e ribeiras por onde passam.
      Criando também uma nova consciência ambiental para cuidar do que pertence a todos nós.</p>
  </div>
  <div class="row">
    <p>Ajude-nos a cuidar do seu rio, do nosso rio, do rio de todos nós. E assim podemos fazer a
      diferença atuando sobre o problema e tomando conhecimento do mesmo em tempo real. Alerte as pessoas
      competentes para resolver o problema com apenas uma foto georreferenciada e uma breve descrição,
      esta mensagem enviada por si será recebida no momento pelas pessoas com o poder de decisão disponíveis para o ajudar.</p>
  </div>

</div>

<%= render 'common/footer' %>