<%= render 'common/header' %>

</head>

<body>

	<%= render 'common/navbar' %>

	<div class="container">
		<div class="row">
			<div class="thumbnail">
				<%= image_tag("logo.png", :alt => "Engenho e rio logo") %>
			</div>
		</div>
	</div>

	<%= render 'common/footer' %>