<%= render 'common/header' %>

</head>
<body>

<%= render 'common/navbar' %>

<h2>Engenho e Rio</h2>


Tlm: 999999 <br>
Morada: xxxxxxx <br>
email: jjasd@gmail.com <br>

... <br>

<%= render 'common/footer' %>