<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <h1>Avaliação</h1>
  <div class="row">
    <p>Os rios são um sistema complexo que fornece um elevado número de serviços à humanidade, destacando-se como fonte estratégica de água para a agricultura, indústria e consumo doméstico. Estes espaços apresentam uma elevada biodiversidade, constituem um corredor ecológico, uma barreira natural contra incêndios, e contêm solos férteis com uma capacidade de elevada resiliência às alterações climáticas (ex: cheias e secas). Os rios têm funções ecológicas, paisagísticas, socioculturais, económicas, físicas e hidrológicas que é importante preservar.</p>
    <p>São sujeitos a várias ameaças, onde se destacam a ocupação urbana e agrícola do espaço fluvial, aumento dos danos provocados por cheias e secas, elevado estado de poluição, forte erosão, reduzido envolvimento da população, baixo nível de formação técnica, presença de intervenções desadequadas, reduzida manutenção das intervenções realizadas no espaço fluvial. Estas ameaças promovem a degradação dos sistemas ribeirinhos, da biodiversidade envolvente, e perdas de usos e serviços.</p>
  </div>

  <div class="row">
    <h2>Objetivos:</h2>
    <ul>
      <li>Monitorizar o aparecimento de espécies invasoras;</li>
      <li>Controlar o domínio hídrico;</li>
      <li>Avaliar periodicamente a evolução da linha de água usando a metodologia proposta;</li>
      <li>Manter controlo de qualquer alteração pontual;</li>
      <li>Gerir a utilização do espaço por parte das visitantes e dos proprietários.</li>
    </ul>
  </div>

  <div class="row">
    <h2>Tipos de caracterização/avaliação</h2>
    <p>O <span><i>Índice de Reabilitação Ribeirinha</i></span> (IRR) é um índice que pretende ser acessível aos técnicos das Câmaras ou pessoas com formação na área do ambiente. Para isso foram criadas perguntas básicas, mas que respondem ou colocam a hipótese de uma resposta a perguntas mais técnicas que precisam de um maior estudo, o qual requer um técnico especializado e material adequado para análises. Um dos exemplos mais simples é o do cheiro da água, caso a resposta seja “Cheira a podre” pode indicar a presença de contaminantes graves ou animais em putrefação. Não sabendo ao certo a causa do mau cheiro, sem as devidas analises, esta referência já indica que existe alguma coisa na água que não é natural e requer atenção.</p>
    <p>Com uma linguagem mais informal podemos então ter mais público a responder ao índice e, por consequência, ter mais dados e linhas de água no estudo. Estes dados podem ser muito importantes no apoio a quem tem o poder de decisão, para que este(s) possam intervir com projetos de reabilitação nas linhas de água mais degradadas.</p>
  </div>

  <div class="row">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('form_irr/avaliacao_irr.png',
                                      :class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>

  <div class="row">
    <h2>Como melhorar o rio</h2>
    <p>Os rios podem ser melhorados através de palestras de sensibilização das populações, capacitando-as para a recolha de possível lixo flutuante e/ou depositado nas margens, fazerem denuncias ao SEPNA sobre descargas ilegais, informando sobre boas práticas de atuação das populações ribeirinhas de modo a não poluir as linhas de água.</p>
  </div>

</div>

<%= render 'common/footer' %>