<%= render 'common/header' %>

</head>

<body>

<%= render 'common/navbar' %>

<div class="container">
  <h1>Formulário de índice de reabilitação dos rios (IRR)</h1>

  <%= render 'form' %>
</div>

<%= render 'common/footer' %>