<%= render 'common/header' %>
</head>
<body>

<%= render 'common/navbar' %>
<div class="container">

  <h1> Não tem permissões para aceder a este formulário </h1>

  <%= link_to 'Voltar para os meus formulários', form_irrs_path %>
</div>

<%= render 'common/footer' %>